<%- include("partials/header")-%>
  <form class="" action="/compose" method="post" enctype="multipart/form-data">
    <div class="box">
    <input class="detail" type="text" name="name" value="" placeholder="Full Name" >
    <br>
    <input class="detail" type="text" name="address" value="" placeholder="Address" >
    <br>
    <input class="detail" type="text" name="number" value="" placeholder="Contact Number" >
    <br>
    <input class="detail" type="text" name="rent" value="" placeholder="Rent/Month" >
    <br>
    <input class="detail" type="text" name="description" value="" placeholder="small description" >
    <br>
    <input class="detail" type="text" name="country" value="" placeholder="Country" >
    <br>
    <input class="detail" type="text" name="state" value="" placeholder="State">
    <br>
    <input class="detail" type="text" name="city" value="" placeholder="City">
    <br>
    <input class="detail" type="file" name="image" value="">
    <br>
    <button type="submit" name="button" class="btn btn-lg btn-primary submit"><i class="fas fa-sign-in-alt"></i>SUBMIT</button>
    </div>
  </form>

<%- include("partials/footer")-%>
