<%- include("partials/header") -%>
  <div class="box">
    <form class="" action="/find" method="post">
    <input class="detail" type="text" name="country1" value="" placeholder="Country">
    <br>
    <input class="detail" type="text" name="state1" value="" placeholder="State">
    <br>
    <input class="detail" type="text" name="city2" value="" placeholder="City">
    <br>
      <button type="submit" name="button" class="btn btn-lg btn-primary submit2"><i class="fas fa-home wo"></i>SEARCH</button>
    </form>
    <br>
  </div>


<%- include("partials/footer") -%>
