<%- include("partials/header") -%>

    <section class="home" style="background-image:url('/home8.png');">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="heading1">WANT A HOME ON RENT..</h1>
          <h1 class="heading">Find's The Best <span style="color:black;">Home</span> For You And Your Family.. </h1>
          <form class="" action="/" method="post">
            <button type="submit" class="btn btn-lg btn-primary waves-effect waves-light-red  Find"><i class="fas fa-search fa-1x wo"></i>To Let</button>
             <button type="submit" name="find" value="me" class="btn btn-lg btn-primary Tolet"><i class="fas fa-home wo"></i>Find Home</button>

           </form>
    </section>


  <section class="section2">

        <div class="row">
            <div class="col-lg-6 sm-12 id="card-one">
              <div class="box1 animated bounceInLeft" >
          <img src="s1.jpg" class="imgs2" alt="">
          <h3 class="s1text">You can follow us on instagram,twitter,facebook etc.. </h3>
          </div>
          </div>

          <div class="col-lg-6 sm-12">
            <div class="box1">
              <img src="s2.png" class="imgs2" alt="">
              <h3 class="s1text">Easy to access and able you to find home in every corner of the world..</h3>
            </div>
          </div>
        </div>

       <div class="row">
         <div class="col-lg-12 sm-12">
           <div style="margin:0 auto" class="box1">
                <img class="imgs2" src="s3.jpg" alt="">
                <h3 class="s1text">Now,No!! need to roame round to find home.Just sit back and browse....</h3>
           </div>

         </div>
       </div>
       <br>
       <br>

  </section>

  <section id="testimonials"  style="background-image:url('/sell-bg.jpg');">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="hover">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1 class="partner-text">No longer have to roam around searching.Thanks to RESIDENCE</h1>
          <img class="dog" src="1.png" alt="dog-profile">
          <em>Pebbles, New York</em>
        </div>
        <div class="carousel-item">
          <h1 class="partner-text">Saved my time and strength to find home.Thanks to RESIDENCE.</h1>
          <img class="dog" src="2.png" alt="lady-profile">
          <em>Beverly, Illinois</em>
        </div>
        <div class="carousel-item">
          <h1 class="partner-text">
            Easy to access with  large number of choices.Thanks to RESIDENCE.
          </h1>
          <img class="dog" src="3.png">
          <em>Sam,India</em>
        </div>
        <div class="carousel-item">
          <h1 class="partner-text">
            I have to just sitback and browse.Thanks to RESIDENCE.
          </h1>
          <img class="dog" src="4.png">
          <em>Arpit,U.S.</em>
        </div>
      </div>
    </div>
    </div>
    <section id="section-partner" style="background-color:pink">

      <img class="partner" src="partner-1.png" alt="">
      <img class="partner" src="partner-2.png" alt="">
      <img class="partner" src="partner-3.png" alt="">
      <img class="partner" src="partner-4.png" alt="">
      <img class="partner" src="partner-5.png" alt="">

    </section>
  </section>


  <section id="section3" style="background-color:black;">
    <br>
    <h1 style="text-align:center">CONTACT US :</h1>
    <br>
    <br>
    <div class="icon3">
      <div class="icon2">
        <i class="fab fa-twitter fa-4x "></i>
        <p >twitter</p>
      </div>
      <div class="icon2">
        <i class="fab fa-facebook fa-4x "></i>
        <p>facebook</p>
      </div>
       <div class="icon2">
         <i class="fab fa-youtube-square fa-4x "></i>
         <p>YouTube</p>
       </div>
       <div class="icon2">
         <i class="fab fa-google-plus-square fa-4x "></i>
         <p>Google</p>
       </div>
       <div class="icon2">
         <i class="fab fa-pinterest fa-4x "></i>
         <p>pinterser</p>
       </div>
    </div>

      <div class="icon4">
        <i class="fas fa-phone-alt fa-3x"></i>
        <h2>: 9897001694</h2>
      </div>
      <div class="icon4" style="margin-bottom:40px">
        <i class="fas fa-mail-bulk fa-3x"></i>
        <h2>:Residence@gmail.com</h2>
      </div>

  </section>


<%- include("partials/footer") -%>
