<%- include("partials/header") -%>
<a class="myButton" href="https://www.google.com/maps/dir/?api=1&origin=+&destination=<%= p.position%>+&travelmode=car">Get directions</a>
<%- include("partials/footer") -%>
